


































/* .jpwQeL {
    border: 0.2rem solid #000000;
    background: #ffffff;
    text-decoration: none;
    color: #000000;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: unset;
    padding: 0.5rem;
    transition: all 0.5s;
    width: 3rem !important;
    height: 3rem !important;
    margin: 2rem;
} */